extends layout

block content
  h1= title
  each photo in photos
    - var photoLink = "./" + photo.name
    - var thumbnailLink = "/thumbnails/" + albumName + "/" + photo.name
    a(href=photoLink)
      img(src=thumbnailLink, alt=photo.name, height=100, width=100)
