doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/images/photo-gallery-48.png')
    block headProperties
  body
    block content
    div(class='footer')
      <a target="_blank" href="https://icons8.com/icons/set/stack-of-photos--v1">Photo Gallery icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
