extends layout

block content
  #nag
    p
      if prevPage
        a(href=prevPage) <<
      if nextPage
        a(href=nextPage) >>
  each val in years
    h1= val.year
    p 
      each photo in val.photos
        - var thumbnailLink = "/thumbnails/" + photo.albumName + "/" + photo.photoName
        img(src=thumbnailLink, width=50, height=50)
